body {
  color: black;
  background-color: green;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    text-align: center;